Repository thoroc/civitas: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check, markdownlint, lockfile

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
      stage_fixed: true
    format:
      glob: '*.{js,ts,jsx,tsx,json,md,css,scss}'
      run: npx prettier --write {staged_files}
      stage_fixed: true
    type-check:
      glob: '*.{ts,tsx}'
      run: npx tsc --noEmit
    markdownlint:
      glob: '*.{md,markdown}'
      run: npx markdownlint-cli2 {staged_files}
    lockfile:
      glob: 'package-lock.json'
      run: npx lockfile-lint --path package-lock.json --type npm --validate-https --allowed-hosts npm,registry.npmjs.org || echo "(non-blocking)"
# pre-push:
#   commands:
#     lint-all:
#       run: npm run lint
#     build:
#       run: npm run build

refactor(scripts): move runHarvest into harvest domain
  scripts/commands/timeline.ts
  scripts/harvest/runHarvest.spec.ts
  scripts/harvest/runHarvest.ts
Due: lint, format, type-check

refactor(scripts): promote party-meta to top-level domain
  scripts/commands/party-meta.spec.ts
  scripts/commands/party-meta.ts
  scripts/party-meta/buildPartyRecord.spec.ts
  scripts/party-meta/buildPartyRecord.ts
  scripts/party-meta/collectMatches.spec.ts
  scripts/party-meta/collectMatches.ts
  scripts/party-meta/fetchIdeologies.spec.ts
  scripts/party-meta/fetchIdeologies.ts
  scripts/party-meta/isQID.spec.ts
  scripts/party-meta/isQID.ts
  scripts/party-meta/keywords.ts
  scripts/party-meta/loadOverrides.spec.ts
  scripts/party-meta/loadOverrides.ts
  scripts/party-meta/loadSnapshot.spec.ts
  scripts/party-meta/loadSnapshot.ts
  scripts/party-meta/matchLeaning.spec.ts
  scripts/party-meta/matchLeaning.ts
  scripts/party-meta/resolveLeaningForParty.spec.ts
  scripts/party-meta/resolveLeaningForParty.ts
  scripts/party-meta/resolveQids.spec.ts
  scripts/party-meta/resolveQids.ts
  scripts/party-meta/types.ts
  scripts/party-meta/writePartyMeta.spec.ts
  scripts/party-meta/writePartyMeta.ts
Due: lint, format, type-check

fix(test): use jsdom environment for React component specs
  vitest.config.ts
Due: lint, format, type-check

fix(test): update mock paths after domain refactor (lib → harvest/timeline/range/snapshot)
  scripts/commands/range.spec.ts
  scripts/commands/snapshot.spec.ts
  scripts/commands/timeline.spec.ts
Due: lint, format, type-check

refactor(data): update generatedAt timestamps and add missing official-parliament data
  CONTRIBUTING.md
  public/data/official/events.json
  public/data/official/official-parliament-2005-05-05.json
  public/data/official/official-parliament-2010-05-06.json
  public/data/official/official-parliament-2015-05-01.json
  public/data/official/official-parliament-2015-05-07.json
  public/data/official/official-parliament-2017-06-01.json
  public/data/official/official-parliament-2019-12-01.json
  public/data/official/official-parliament-2019-12-12.json
  public/data/official/official.index.json
Due: format, markdownlint

fix(dev): add --webpack flag to dev script for Next.js 16 compatibility
  package.json
Due: format

feat(ui): migrate parliament UI to official snapshot pipeline
  public/data/partyColors.json
  src/app/parliament/FiltersPanel.tsx
  src/app/parliament/SnapshotExplorer.tsx
  src/app/parliament/adapters/officialSnapshot.ts
  src/app/parliament/components/SnapshotHeader.tsx
  src/app/parliament/components/SnapshotPanels.tsx
  src/app/parliament/formatZodError.ts
  src/app/parliament/hooks/useParliamentIndex.ts
  src/app/parliament/hooks/usePartyMeta.ts
  src/app/parliament/hooks/usePartyMetaLoader.ts
  src/app/parliament/hooks/useSnapshotLoader.ts
  src/app/parliament/hooks/useSnapshotState.ts
  src/app/parliament/schemas.ts
Due: lint, format, type-check

fix(timeline): default granularity to monthly for complete index
  scripts/commands/timeline.ts
Due: lint, format, type-check

chore(data): regenerate official timeline with monthly granularity (9 snapshots)
  public/data/official/official-parliament-2005-05-05.json
  public/data/official/official-parliament-2010-05-01.json
  public/data/official/official-parliament-2015-05-01.json
  public/data/official/official-parliament-2015-05-07.json
  public/data/official/official-parliament-2017-06-01.json
  public/data/official/official-parliament-2017-06-08.json
  public/data/official/official-parliament-2019-12-01.json
  public/data/official/official-parliament-2019-12-12.json
  public/data/official/official.index.json
Due: format

fix(gitignore): add .tmp-* pattern to ignore temporary files
  .gitignore
Due: none

feat(docs): add MEMORY.md and UK Parliament Primer for project context
  AGENTS.md
  MEMORY.md
  docs/uk-parliament-primer.md
Due: format, markdownlint

fix(harvest): correct Parliament API search response parsing
  scripts/harvest/extractPartySpells.ts
  scripts/harvest/extractSeatSpells.ts
  scripts/harvest/fetchMemberIds.spec.ts
  scripts/harvest/fetchMemberIds.ts
  scripts/harvest/membersApiClient.spec.ts
  scripts/harvest/membersApiClient.ts
  vitest.config.ts
Due: lint, format, type-check

fix(lint): update markdownlint command to use mdlint for formatting staged files
  lefthook.yml
Due: none

fix(lint): ensure markdownlint stages fixed files for pre-commit hook
  lefthook.yml
Due: none

feat(docs): update documentation formatting for consistency and clarity
  .mdlint.toml
  CONTRIBUTING.md
  MEMORY.md
  docs/deployment.md
  docs/uk-parliament-primer.md
Due: format, markdownlint

fix(data): update generatedAt timestamps for official parliament JSON files
  public/data/official/official-parliament-2005-05-05.json
  public/data/official/official-parliament-2010-05-01.json
  public/data/official/official-parliament-2010-05-06.json
  public/data/official/official-parliament-2015-05-01.json
  public/data/official/official-parliament-2015-05-07.json
  public/data/official/official-parliament-2017-06-01.json
  public/data/official/official-parliament-2017-06-08.json
  public/data/official/official-parliament-2019-12-01.json
  public/data/official/official-parliament-2019-12-12.json
  public/data/official/official.index.json
Due: format

chore: update markdown linting commands in package.json to use mdlint
  .markdownlint-cli2.jsonc
  bun.lock
  package.json
Due: format

fix(harvest): fix pagination using totalResults and drop IsCurrentMember filter
  scripts/harvest/fetchMemberIds.spec.ts
  scripts/harvest/fetchMemberIds.ts
  scripts/harvest/membersApiClient.spec.ts
  scripts/harvest/membersApiClient.ts
Due: lint, format, type-check

fix(timeline): deduplicate snapshots by date before writing index
  scripts/timeline/writeTimelineOutput.ts
Due: lint, format, type-check

feat: add initial configuration for MCP providers and servers
  .mcpx.json
Due: format

docs: update AGENTS.md to clarify data flow and pipeline structure
  AGENTS.md
Due: format, markdownlint

feat(parliament): add event type filtering state
  src/app/parliament/SnapshotExplorer.tsx
  src/app/parliament/hooks/useSnapshotSelection.ts
  src/app/parliament/hooks/useSnapshotState.ts
Due: lint, format, type-check

feat(parliament): add event type selector UI
  src/app/parliament/SnapshotExplorer.tsx
  src/app/parliament/components/EventTypeSelector.tsx
  src/app/parliament/components/SnapshotHeader.tsx
Due: lint, format, type-check

feat: add context-mode and codebase-memory-mcp configurations; update AGENTS.md with coding style section; create GEMINI.md linking to AGENTS.md
  .mcpx.json
  AGENTS.md
  GEMINI.md
Due: format, markdownlint

refactor(scripts): convert harvest/buildEvents and normalize to arrow functions
  scripts/harvest/buildEvents.ts
  scripts/harvest/normalize.ts
Due: lint, format, type-check

refactor(scripts): convert harvest/cache and odataHarvester to arrow functions
  scripts/harvest/cache.ts
  scripts/harvest/odataHarvester.ts
Due: lint, format, type-check

fix(scripts): install @cliffy/command via JSR to resolve missing module errors
  bun.lock
  package.json
Due: format

refactor(scripts): split commands into run/command modules and add barrel
  scripts/cli.ts
  scripts/commands/index.ts
  scripts/commands/party-meta-command.ts
  scripts/commands/party-meta.ts
  scripts/commands/range-command.ts
  scripts/commands/range.ts
  scripts/commands/snapshot-command.ts
  scripts/commands/snapshot.ts
  scripts/commands/timeline-command.ts
  scripts/commands/timeline.ts
Due: lint, format, type-check

refactor(scripts): split harvest/cache and eventType into single-function modules
  scripts/harvest/buildSnapshots/buildSnapshot.ts
  scripts/harvest/cache.ts
  scripts/harvest/classifyEventType.ts
  scripts/harvest/ensureDir.ts
  scripts/harvest/eventType.spec.ts
  scripts/harvest/eventType.ts
  scripts/harvest/odataHarvester.ts
Due: lint, format, type-check

refactor(scripts): add index.ts barrels to all script subdirectories
  scripts/commands/party-meta.ts
  scripts/commands/range.ts
  scripts/commands/snapshot.ts
  scripts/commands/timeline.ts
  scripts/harvest/buildSnapshots.ts
  scripts/harvest/buildSnapshots/applyByElection.ts
  scripts/harvest/buildSnapshots/applyEventToState.ts
  scripts/harvest/buildSnapshots/applyGeneralElection.ts
  scripts/harvest/buildSnapshots/applyPartySwitch.ts
  scripts/harvest/buildSnapshots/applyVacancyStart.ts
  scripts/harvest/buildSnapshots/buildSnapshot.ts
  scripts/harvest/buildSnapshots/createInitialState.ts
  scripts/harvest/buildSnapshots/createSnapshotSourceHashes.ts
  scripts/harvest/buildSnapshots/index.ts
  scripts/harvest/eventType.ts
  scripts/harvest/index.ts
  scripts/harvest/runHarvest.ts
  scripts/harvest/schemas.ts
  scripts/harvest/schemas/index.ts
  scripts/lib/index.ts
  scripts/party-meta/fetchIdeologies.ts
  scripts/party-meta/index.ts
  scripts/range/buildIndexEntry.ts
  scripts/range/fetchTermStartDates.ts
  scripts/range/index.ts
  scripts/range/range-fallback.ts
  scripts/snapshot/index.ts
  scripts/timeline/buildEventsAndSnapshots.ts
  scripts/timeline/index.ts
  scripts/timeline/mergeWikidataEvents.ts
  scripts/timeline/writeTimelineOutput.ts
  scripts/verify-event-types.ts
Due: lint, format, type-check

refactor(scripts): decompose buildEvents into single-function modules
  scripts/harvest/buildEvents.ts
  scripts/harvest/byStart.ts
  scripts/harvest/collectConstituencyEvents.ts
  scripts/harvest/collectGeneralElectionEvents.ts
  scripts/harvest/collectPartySwitchEvents.ts
  scripts/harvest/collectSeatEvents.ts
  scripts/harvest/deduplicateEvents.ts
  scripts/harvest/filterElectionsSince.ts
  scripts/harvest/index.ts
  scripts/harvest/sortEvents.ts
Due: lint, format, type-check

feat(conventions): add kebab-case filename rule to check-conventions.sh and CONTRIBUTING.md
  CONTRIBUTING.md
  scripts/check-conventions.sh
Due: format, markdownlint

fix(conventions): correct is-q-i-d.ts → is-qid.ts acronym rename
  scripts/commands/party-meta.spec.ts
  scripts/party-meta/build-party-record.ts
  scripts/party-meta/index.ts
  scripts/party-meta/is-qid.spec.ts
  scripts/party-meta/is-qid.ts
  scripts/party-meta/resolve-qids.ts
Due: lint, format, type-check
