Repository thoroc/civitas: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check, markdownlint, lockfile

lint:
  run: npx eslint {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

type-check:
  run: npx tsc --noEmit

markdownlint:
  run: npx markdownlint-cli2 {staged_files}

lockfile:
  run: npx lockfile-lint --path package-lock.json --type npm --validate-https --allowed-hosts npm,registry.npmjs.org || echo "(non-blocking)"

chore(lint+deps): refactor linechart helpers, add ping route, upgrade next to 15.5.4
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/ping/route.ts
  src/app/components/d3/linechart.tsx
  src/app/components/navigation.tsx
  src/app/layout.tsx
  src/app/parliament/SnapshotExplorer.tsx
  src/app/parliament/d3.ts
  src/app/parliament/hooks/useSeatFocusNavigation.ts
  src/app/parliament/hooks/useSeatHandlers.ts
  tsconfig.json
Due: lint, format, type-check, lockfile

refactor(parliament): extract hemicycle layout helpers (phase 1)
  src/app/parliament/hooks/useHemicycleLayout.ts
Due: lint, format, type-check

refactor(parliament): reduce allocation complexity and wrap helpers with options objects
  src/app/parliament/hooks/useHemicycleLayout.ts
Due: lint, format, type-check

refactor(hemicycle): simplify seat key handler with action map
  src/app/parliament/components/hemicycle/seatInteractions.ts
Due: lint, format, type-check

refactor(filters): extract predicate builders to reduce apply complexity
  src/app/parliament/context/filtersContext.tsx
Due: lint, format, type-check

refactor(tooltip): extract helpers and option objects to lower complexity
  src/app/parliament/components/hemicycle/tooltipLayout.ts
Due: lint, format, type-check

refactor(hemicycle): simplify SeatCircles derived values
  src/app/parliament/components/hemicycle/SeatCircles.tsx
Due: lint, format, type-check

refactor(snapshot): extract hooks and components to reduce complexity
  src/app/parliament/SnapshotExplorer.tsx
Due: lint, format, type-check

refactor(parliament): extract geometry & allocation into pure modules and add hemicycle state hooks
  TODO.md
  src/app/parliament/HemicycleReact.tsx
  src/app/parliament/components/hemicycle/HemicycleView.tsx
  src/app/parliament/geometry/allocation.ts
  src/app/parliament/geometry/geometry.ts
  src/app/parliament/geometry/parties.ts
  src/app/parliament/hooks/useHemicycleLayout.ts
  src/app/parliament/hooks/useHemicycleState.ts
  src/app/parliament/hooks/useHemicycleTooltipState.ts
Due: lint, format, type-check, markdownlint

refactor(filters): extract pure apply logic to filters/apply.ts
  src/app/parliament/context/filtersContext.tsx
  src/app/parliament/filters/apply.ts
Due: lint, format, type-check

refactor(export): introduce unified exportHemicycle options API (svg/png) with backwards-compatible wrappers
  src/app/parliament/exportUtils.ts
Due: lint, format, type-check

refactor(geometry): introduce GeometryConfig wrappers (findNFromConfig, findAWithConfig, getScoreWithConfig) and adopt in computeHemicycleGeometry
  src/app/parliament/d3.ts
  src/app/parliament/geometry/geometry.ts
Due: lint, format, type-check

docs(contributing): document geometry layering and pure filters module
  CONTRIBUTING.md
Due: format, markdownlint

test(parliament): assert legend totals and seat node count match total members
  tests/e2e/parliament.spec.ts
Due: lint, format, type-check

test(parliament): refactor e2e test into helpers to reduce complexity
  tests/e2e/parliament.spec.ts
Due: lint, format, type-check

docs(todo): update refactor progress after geometry, filters, export and e2e changes
  TODO.md
Due: format, markdownlint

chore(deps): update lockfile-lint to version 4.14.1
  package-lock.json
  package.json
Due: format, lockfile

fix(ci): static export build failure for /api/ping route
  src/app/api/ping/route.ts
Due: lint, format, type-check

fix(ci): ensure markdownlint-cli2 runs with explicit globs
  package.json
Due: format

chore(ci): add markdownlint-cli2 config with globs + fix script and add autofix variant
  .markdownlint-cli2.jsonc
  package.json
Due: format

test(parliament): add unit tests for d3 and geometry modules
  src/app/parliament/d3.spec.ts
  src/app/parliament/geometry/geometry.spec.ts
Due: lint, format, type-check

test(ci): broaden vitest include glob to src/**/*.spec.ts
  vitest.config.ts
Due: lint, format, type-check

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: format, lockfile

chore: add Agentic directories to .gitignore
  .gitignore
Due: none

chore: add .github/skills/ to .gitignore
  .gitignore
Due: none

chore: add tmp directories to .gitignore
  .gitignore
Due: none

refactor(hemicycle): split Seat and Tooltip into dedicated component dirs
  src/app/parliament/components/hemicycle/HemicycleSeats.tsx
  src/app/parliament/components/hemicycle/HemicycleTooltip.tsx
  src/app/parliament/components/hemicycle/index.ts
  src/app/parliament/components/seat/Seat.tsx
  src/app/parliament/components/seat/SeatCircles.tsx
  src/app/parliament/components/seat/index.ts
  src/app/parliament/components/seat/seatAria.spec.ts
  src/app/parliament/components/seat/seatAria.ts
  src/app/parliament/components/seat/seatInteractions.spec.ts
  src/app/parliament/components/seat/seatInteractions.ts
  src/app/parliament/components/tooltip/TooltipSecondary.tsx
  src/app/parliament/components/tooltip/index.ts
  src/app/parliament/components/tooltip/tooltipLayout.spec.ts
  src/app/parliament/components/tooltip/tooltipLayout.ts
  src/app/parliament/components/tooltip/tooltipTheme.spec.ts
  src/app/parliament/components/tooltip/tooltipTheme.ts
  src/app/parliament/d3.spec.ts
  src/app/parliament/hooks/useHemicycleLayout.compose.spec.ts
  src/app/parliament/hooks/useSeatHandlers.ts
  vitest.config.ts
Due: lint, format, type-check

chore(lint): switch markdownlint glob to allowlist + fix T4.1 deployment docs
  .markdownlint-cli2.jsonc
  AGENTS.md
  docs/deployment.md
Due: format, markdownlint

chore(deps): install tessl tiles for testing, CI, and accessibility
  .tessl/.gitignore
  tessl.json
Due: format

test(stubs): add describe.todo stubs to empty hook/component spec files
  src/app/parliament/geometry/allocation.spec.ts
  src/app/parliament/hooks/useHemicycleExport.spec.ts
  src/app/parliament/hooks/useHemicycleLayout.spec.ts
  src/app/parliament/hooks/useHemicycleState.spec.ts
  src/app/parliament/hooks/useHemicycleTooltipState.spec.ts
  src/app/parliament/hooks/useLiveAnnouncements.spec.ts
  src/app/parliament/hooks/usePartyMeta.spec.ts
  src/app/parliament/hooks/useResponsiveSeatScale.spec.ts
  src/app/parliament/hooks/useSeatFocusNavigation.spec.ts
  src/app/parliament/hooks/useSeatHandlers.spec.ts
  src/temp.spec.js
Due: lint, format, type-check

refactor(export): remove exportSvg/exportPng compat wrappers
  src/app/parliament/exportUtils.ts
  src/app/parliament/hooks/useHemicycleExport.ts
Due: lint, format, type-check

test(e2e): reduce snapshot polling timeout from 25s to 13s
  tests/e2e/parliament.spec.ts
Due: lint, format, type-check

ci(deploy): add GitHub Actions deploy workflow for SSR and static export
  .github/workflows/deploy.yml
Due: none

test(parliament): implement pure logic tests for seat/tooltip/geometry
  src/app/parliament/components/seat/seatAria.spec.ts
  src/app/parliament/components/seat/seatInteractions.spec.ts
  src/app/parliament/components/tooltip/tooltipLayout.spec.ts
  src/app/parliament/geometry/geometry.spec.ts
Due: lint, format, type-check

test(hooks): add jsdom hook tests for export, tooltip-state, live-announcements
  package-lock.json
  package.json
  src/app/parliament/hooks/useHemicycleExport.spec.ts
  src/app/parliament/hooks/useHemicycleTooltipState.spec.ts
  src/app/parliament/hooks/useLiveAnnouncements.spec.ts
Due: lint, format, type-check, lockfile

test(components): add RTL tests for SeatCircles and TooltipSecondary
  src/app/parliament/components/seat/SeatCircles.spec.tsx
  src/app/parliament/components/tooltip/TooltipSecondary.spec.tsx
Due: lint, format, type-check

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md,css,scss}
  type-check: any of: *.{ts,tsx}
  markdownlint: any of: *.{md,markdown}
  lockfile: any of: package-lock.json
