Repository thoroc/civitas: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check, markdownlint, lockfile

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
      stage_fixed: true
    format:
      glob: '*.{js,ts,jsx,tsx,json,md,css,scss}'
      run: npx prettier --write {staged_files}
      stage_fixed: true
    type-check:
      glob: '*.{ts,tsx}'
      run: npx tsc --noEmit
    markdownlint:
      glob: '*.{md,markdown}'
      run: npx markdownlint-cli2 {staged_files}
    lockfile:
      glob: 'package-lock.json'
      run: npx lockfile-lint --path package-lock.json --type npm --validate-https --allowed-hosts npm,registry.npmjs.org || echo "(non-blocking)"
# pre-push:
#   commands:
#     lint-all:
#       run: npm run lint
#     build:
#       run: npm run build

test(integration): add RTL smoke tests for HemicycleView and HemicycleReact
  src/app/parliament/HemicycleReact.spec.tsx
  src/app/parliament/components/hemicycle/HemicycleView.spec.tsx
  vitest.config.ts
Due: lint, format, type-check

test(coverage): add parliament-scoped coverage thresholds to vitest config
  vitest.config.ts
Due: lint, format, type-check

chore(todo): mark deployment automation done
  TODO.md
Due: format, markdownlint

fix(e2e): replace test.fixme with test.skip; extend homepage title timeout
  tests/e2e/homepage.spec.ts
  tests/e2e/parliament.spec.ts
Due: lint, format, type-check

fix(e2e): move test.skip to test body; poll for title before asserting
  tests/e2e/homepage.spec.ts
  tests/e2e/parliament.spec.ts
Due: lint, format, type-check

fix(e2e): wait for HTTP 200 before tests; skip parliament when no snapshot data
  playwright.config.ts
  tests/e2e/homepage.spec.ts
  tests/e2e/parliament.spec.ts
Due: lint, format, type-check

fix(e2e): use networkidle to wait past React 19 title hydration window
  tests/e2e/homepage.spec.ts
Due: lint, format, type-check

fix(e2e): extend toHaveTitle timeout to 15s for React 19 title re-hydration
  tests/e2e/homepage.spec.ts
Due: lint, format, type-check

fix(e2e): drop toHaveTitle — assert visible nav/heading instead
  tests/e2e/homepage.spec.ts
Due: lint, format, type-check

chore(deps): update within-range dependencies; fix playwright expect timeout
  package-lock.json
  playwright.config.ts
  tests/e2e/homepage.spec.ts
Due: lint, format, type-check, lockfile

chore(deps): major upgrades — lefthook 2.1.4, markdownlint-cli2 0.22, react-hooks 7
  package-lock.json
  package.json
Due: format, lockfile

fix(e2e): skip security headers when PLAYWRIGHT_CI=1
  next.config.mjs
  playwright.config.ts
Due: lint, format, type-check

chore(deps): upgrade next 15→16, axios 1.12→1.14; fix lint and build scripts
  package-lock.json
  package.json
  tests/e2e/homepage.spec.ts
Due: lint, format, type-check, lockfile

ci: switch workflows from npm/node to bun
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/test-vitest.yml
Due: none

chore(skills): add pantheon-ai/agent-browser tile with evals
  skills-lock.json
  tessl.json
  tiles/agent-browser/evals/instructions.json
  tiles/agent-browser/evals/scenario-0/capability.txt
  tiles/agent-browser/evals/scenario-0/criteria.json
  tiles/agent-browser/evals/scenario-0/task.md
  tiles/agent-browser/evals/scenario-1/capability.txt
  tiles/agent-browser/evals/scenario-1/criteria.json
  tiles/agent-browser/evals/scenario-1/task.md
  tiles/agent-browser/evals/scenario-2/capability.txt
  tiles/agent-browser/evals/scenario-2/criteria.json
  tiles/agent-browser/evals/scenario-2/task.md
  tiles/agent-browser/evals/scenario-3/capability.txt
  tiles/agent-browser/evals/scenario-3/criteria.json
  tiles/agent-browser/evals/scenario-3/task.md
  tiles/agent-browser/evals/scenario-4/capability.txt
  tiles/agent-browser/evals/scenario-4/criteria.json
  tiles/agent-browser/evals/scenario-4/task.md
  tiles/agent-browser/evals/summary.json
  tiles/agent-browser/evals/summary_infeasible.json
  tiles/agent-browser/skills/agent-browser/SKILL.md
  tiles/agent-browser/tile.json
Due: format, markdownlint

ci: bump actions/checkout to v6 and upload-artifact to v7
  .github/workflows/ci.yml
Due: none

chore: remove TODO.md file to clean up project documentation
  TODO.md
Due: format, markdownlint

test(harvest): add spec files for harvest scripts
  .env
  scripts/harvest/buildEvents.spec.ts
  scripts/harvest/buildSnapshots.spec.ts
  scripts/harvest/cache.spec.ts
  scripts/harvest/electionsBaseline.spec.ts
  scripts/harvest/membersApiClient.spec.ts
  scripts/harvest/normalize.spec.ts
  scripts/harvest/odataHarvester.spec.ts
Due: lint, format, type-check

chore: remove generated artifacts and untrack package-lock.json
  .gitignore
  package-lock.json
Due: format, lockfile

feat(skill): add socratic-method prompt refinement tile
  tessl.json
  tiles/prompt-refinement--socratic-method/evals/scenario-0/task.md
  tiles/prompt-refinement--socratic-method/evals/scenario-1/task.md
  tiles/prompt-refinement--socratic-method/evals/scenario-2/task.md
  tiles/prompt-refinement--socratic-method/evals/scenario-3/task.md
  tiles/prompt-refinement--socratic-method/skills/socratic-method/SKILL.md
  tiles/prompt-refinement--socratic-method/tile.json
Due: format, markdownlint

docs(skill): add reference files to socratic-method skill
  tiles/prompt-refinement--socratic-method/skills/socratic-method/SKILL.md
  tiles/prompt-refinement--socratic-method/skills/socratic-method/references/anti-patterns.md
  tiles/prompt-refinement--socratic-method/skills/socratic-method/references/classical-foundations.md
  tiles/prompt-refinement--socratic-method/skills/socratic-method/references/question-taxonomy.md
  tiles/prompt-refinement--socratic-method/skills/socratic-method/references/worked-examples.md
Due: format, markdownlint

chore(docs): update setup instructions and replace npm with bun commands
  README.md
  docs/development.md
Due: format, markdownlint

chore(lint): consolidate markdownlint configs into single file
  .markdownlint-cli2.jsonc
  .markdownlint.jsonc
Due: none

chore(conventions): enforce coding standards via Biome rules and git hook
  CONTRIBUTING.md
  biome.json
  docs/deployment.md
  docs/development.md
  docs/official-timeline.md
  docs/parliament-snapshots.md
  docs/party-metadata.md
  lefthook.yml
  scripts/check-conventions.sh
  vitest.config.ts
Due: lint, format, type-check, markdownlint

chore(conventions): add no-internal-function rule
  CONTRIBUTING.md
  docs/development.md
  scripts/check-conventions.sh
Due: format, markdownlint

refactor(scripts): extract date helpers to shared lib/dates
  scripts/check-conventions.sh
  scripts/generateOfficialTimeline.ts
  scripts/generateParliamentSnapshot.ts
  scripts/generateParliamentSnapshotsRange.ts
  scripts/lib/normalizeInputDate.ts
  scripts/lib/toSafeFilename.ts
Due: lint, format, type-check

refactor(scripts): centralise output paths in shared lib/paths
  scripts/generateOfficialTimeline.ts
  scripts/generateParliamentSnapshot.ts
  scripts/generateParliamentSnapshotsRange.ts
  scripts/generatePartyMeta.ts
  scripts/lib/paths.ts
  scripts/lib/wikidata/buildIdeologyQuery.ts
  scripts/lib/wikidata/buildParliamentMembersQuery.ts
  scripts/lib/wikidata/buildTermsQuery.ts
  scripts/lib/wikidata/buildTermsQueryFallback.ts
  scripts/lib/wikidata/index.ts
  scripts/lib/wikidata/wikidataSparqlEndpoint.ts
Due: lint, format, type-check

refactor(scripts): extract fetchWithRetry to shared lib/http
  scripts/check-conventions.sh
  scripts/generateParliamentSnapshot.ts
  scripts/generateParliamentSnapshotsRange.ts
  scripts/lib/http.ts
Due: lint, format, type-check

feat(scripts): scaffold Cliffy CLI entry point
  bun.lock
  scripts/cli.ts
  scripts/tsconfig.scripts.json
Due: lint, format, type-check

feat(scripts): add timeline command to CLI
  scripts/cli.ts
  scripts/commands/timeline.ts
  scripts/lib/buildEventsAndSnapshots.ts
  scripts/lib/reportValidation.ts
  scripts/lib/runHarvest.ts
  scripts/lib/validation.ts
  scripts/lib/writeTimelineOutput.ts
Due: lint, format, type-check

feat(scripts): add snapshot command to CLI
  scripts/commands/party-meta.ts
  scripts/lib/party-meta/buildPartyRecord.ts
  scripts/lib/party-meta/collectMatches.ts
  scripts/lib/party-meta/fetchIdeologies.ts
  scripts/lib/party-meta/isQID.ts
  scripts/lib/party-meta/keywords.ts
  scripts/lib/party-meta/loadOverrides.ts
  scripts/lib/party-meta/loadSnapshot.ts
  scripts/lib/party-meta/matchLeaning.ts
  scripts/lib/party-meta/resolveLeaningForParty.ts
  scripts/lib/party-meta/resolveQids.ts
  scripts/lib/party-meta/types.ts
  scripts/lib/party-meta/writePartyMeta.ts
Due: lint, format, type-check

feat(scripts): add snapshot command to CLI
  scripts/commands/normalizeBindings.ts
  scripts/commands/snapshot.ts
  scripts/lib/buildConstituencyFromBinding.ts
  scripts/lib/buildPartyFromBinding.ts
Due: lint, format, type-check

feat(scripts): add range command to CLI
  scripts/cli.ts
  scripts/commands/range-fallback.ts
  scripts/commands/range.ts
  scripts/lib/buildIndexEntry.ts
  scripts/lib/fetchTermStartDates.ts
  scripts/lib/runTermsQuery.ts
  scripts/lib/sleep.ts
Due: lint, format, type-check

chore(scripts): replace standalone scripts with unified CLI entry point
  .npmrc
  package.json
  scripts/generateOfficialTimeline.ts
  scripts/generateParliamentSnapshot.ts
  scripts/generateParliamentSnapshotsRange.ts
  scripts/generatePartyMeta.ts
Due: lint, format, type-check

test(scripts): add unit tests with ≥85% coverage ratchet
  scripts/commands/normalizeBindings.spec.ts
  scripts/commands/party-meta.spec.ts
  scripts/commands/range-fallback.spec.ts
  scripts/commands/range.spec.ts
  scripts/commands/snapshot.spec.ts
  scripts/commands/timeline.spec.ts
  scripts/lib/buildConstituencyFromBinding.spec.ts
  scripts/lib/buildEventsAndSnapshots.spec.ts
  scripts/lib/buildIndexEntry.spec.ts
  scripts/lib/buildPartyFromBinding.spec.ts
  scripts/lib/fetchTermStartDates.spec.ts
  scripts/lib/http.spec.ts
  scripts/lib/normalizeInputDate.spec.ts
  scripts/lib/party-meta/buildPartyRecord.spec.ts
  scripts/lib/party-meta/collectMatches.spec.ts
  scripts/lib/party-meta/fetchIdeologies.spec.ts
  scripts/lib/party-meta/isQID.spec.ts
  scripts/lib/party-meta/loadOverrides.spec.ts
  scripts/lib/party-meta/loadSnapshot.spec.ts
  scripts/lib/party-meta/matchLeaning.spec.ts
  scripts/lib/party-meta/resolveLeaningForParty.spec.ts
  scripts/lib/party-meta/resolveQids.spec.ts
  scripts/lib/party-meta/writePartyMeta.spec.ts
  scripts/lib/reportValidation.spec.ts
  scripts/lib/runHarvest.spec.ts
  scripts/lib/runTermsQuery.spec.ts
  scripts/lib/sleep.spec.ts
  scripts/lib/toSafeFilename.spec.ts
  scripts/lib/validation.spec.ts
  scripts/lib/wikidata/builders.spec.ts
  scripts/lib/writeTimelineOutput.spec.ts
  vitest.config.ts
Due: lint, format, type-check

refactor(scripts): move commands helpers to their domain folders
  scripts/commands/range.ts
  scripts/commands/snapshot.ts
  scripts/range/range-fallback.spec.ts
  scripts/range/range-fallback.ts
  scripts/snapshot/normalizeBindings.spec.ts
  scripts/snapshot/normalizeBindings.ts
Due: lint, format, type-check

refactor(scripts): extract snapshot domain from lib
  scripts/commands/normalizeBindings.spec.ts
  scripts/commands/normalizeBindings.ts
  scripts/commands/range-fallback.spec.ts
  scripts/commands/range-fallback.ts
  scripts/snapshot/buildConstituencyFromBinding.spec.ts
  scripts/snapshot/buildConstituencyFromBinding.ts
  scripts/snapshot/buildPartyFromBinding.spec.ts
  scripts/snapshot/buildPartyFromBinding.ts
  scripts/snapshot/normalizeBindings.ts
Due: lint, format, type-check

refactor(scripts): extract range domain from lib
  scripts/commands/range.ts
  scripts/range/buildIndexEntry.spec.ts
  scripts/range/buildIndexEntry.ts
  scripts/range/fetchTermStartDates.spec.ts
  scripts/range/fetchTermStartDates.ts
  scripts/range/range-fallback.spec.ts
  scripts/range/range-fallback.ts
Due: lint, format, type-check

refactor(scripts): extract timeline domain from lib
  scripts/commands/timeline.ts
  scripts/timeline/buildEventsAndSnapshots.spec.ts
  scripts/timeline/buildEventsAndSnapshots.ts
  scripts/timeline/reportValidation.spec.ts
  scripts/timeline/reportValidation.ts
  scripts/timeline/validation.spec.ts
  scripts/timeline/validation.ts
  scripts/timeline/writeTimelineOutput.spec.ts
  scripts/timeline/writeTimelineOutput.ts
Due: lint, format, type-check
