Repository thoroc/civitas: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json,md,css,scss}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    type-check:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit

# pre-push:
#   commands:
#     lint-all:
#       run: npm run lint
#     build:
#       run: npm run build

feat(accessibility): announce visible seat counts on filter change
  .eslintrc.json
  src/app/parliament/HemicycleReact.tsx
Due: lint, format, type-check

refactor(parliament): extract HemicycleSeats component and add docs
  src/app/parliament/HemicycleReact.tsx
  src/app/parliament/components/HemicycleSeats.tsx
Due: lint, format, type-check

refactor(parliament): extract seat interaction helpers and export utilities
  src/app/parliament/HemicycleReact.tsx
  src/app/parliament/components/HemicycleSeats.tsx
  src/app/parliament/exportUtils.ts
Due: lint, format, type-check

refactor(parliament): structure extraction (export bar, tooltip) and type safety improvements
  .eslintrc.json
  src/app/parliament/FiltersPanel.tsx
  src/app/parliament/HemicycleReact.tsx
  src/app/parliament/PartyLegend.tsx
  src/app/parliament/SnapshotExplorer.tsx
  src/app/parliament/components/HemicycleExportBar.tsx
  src/app/parliament/components/HemicycleSeats.tsx
  src/app/parliament/components/HemicycleTooltip.tsx
  src/app/parliament/filtersContext.tsx
  src/app/parliament/schemas.ts
  src/app/parliament/types.ts
Due: lint, format, type-check

refactor(parliament): extract tooltip layout and seat interaction utilities
  src/app/parliament/components/HemicycleSeats.tsx
  src/app/parliament/components/HemicycleTooltip.tsx
  src/app/parliament/components/seatAria.ts
  src/app/parliament/components/seatInteractions.ts
  src/app/parliament/components/tooltipLayout.ts
Due: lint, format, type-check

feat(parliament): add hooks for hemicycle layout, live announcements, party metadata, responsive seat scale, and seat focus navigation
  src/app/parliament/hooks/useHemicycleLayout.ts
  src/app/parliament/hooks/useLiveAnnouncements.ts
  src/app/parliament/hooks/usePartyMeta.ts
  src/app/parliament/hooks/useResponsiveSeatScale.ts
  src/app/parliament/hooks/useSeatFocusNavigation.ts
Due: lint, format, type-check

refactor(parliament): split HemicycleReact into orchestration/view and add export hook
  .eslintrc.json
  TODO.md
  src/app/cat/page.tsx
  src/app/parliament/HemicycleReact.tsx
  src/app/parliament/components/HemicycleSeats.tsx
  src/app/parliament/components/HemicycleView.tsx
  src/app/parliament/components/Seat.tsx
  src/app/parliament/components/SeatCircles.tsx
  src/app/parliament/hooks/useHemicycleExport.ts
  src/app/parliament/hooks/useHemicycleLayout.ts
  src/app/parliament/hooks/useSeatHandlers.ts
Due: lint, format, type-check

refactor(parliament): extract FilterBadge & FilterSection from FiltersPanel
  src/app/parliament/FiltersPanel.tsx
  src/app/parliament/components/FilterBadge.tsx
  src/app/parliament/components/FilterSection.tsx
Due: lint, format, type-check

refactor(parliament): extract PartyFilterList & GenderFilterList
  src/app/parliament/FiltersPanel.tsx
  src/app/parliament/components/GenderFilterList.tsx
  src/app/parliament/components/PartyFilterList.tsx
Due: lint, format, type-check

feat(parliament): add ActiveFiltersSummary for filter state overview
  src/app/parliament/FiltersPanel.tsx
  src/app/parliament/components/ActiveFiltersSummary.tsx
Due: lint, format, type-check

docs: update TODO with completed FiltersPanel modularization
  TODO.md
Due: format

refactor(parliament): extract AgeRangeFilter component
  src/app/parliament/FiltersPanel.tsx
  src/app/parliament/components/AgeRangeFilter.tsx
Due: lint, format, type-check

refactor(parliament): group filter components under filters/
  src/app/parliament/FiltersPanel.tsx
  src/app/parliament/components/filters/ActiveFiltersSummary.tsx
  src/app/parliament/components/filters/AgeRangeFilter.tsx
  src/app/parliament/components/filters/FilterBadge.tsx
  src/app/parliament/components/filters/FilterSection.tsx
  src/app/parliament/components/filters/GenderFilterList.tsx
  src/app/parliament/components/filters/PartyFilterList.tsx
Due: lint, format, type-check

refactor(parliament): group hemicycle components under hemicycle/
  src/app/parliament/HemicycleReact.tsx
  src/app/parliament/components/hemicycle/HemicycleExportBar.tsx
  src/app/parliament/components/hemicycle/HemicycleSeats.tsx
  src/app/parliament/components/hemicycle/HemicycleTooltip.tsx
  src/app/parliament/components/hemicycle/HemicycleView.tsx
  src/app/parliament/components/hemicycle/Seat.tsx
  src/app/parliament/components/hemicycle/SeatCircles.tsx
  src/app/parliament/components/hemicycle/seatAria.ts
  src/app/parliament/components/hemicycle/seatInteractions.ts
  src/app/parliament/components/hemicycle/tooltipLayout.ts
  src/app/parliament/hooks/useSeatHandlers.ts
Due: lint, format, type-check

refactor(parliament): add component barrels and relocate filters context
  src/app/components/d3/Barchart.tsx
  src/app/components/d3/linechart.tsx
  src/app/components/navigation.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/parliament/FiltersPanel.tsx
  src/app/parliament/HemicycleReact.tsx
  src/app/parliament/PartyLegend.tsx
  src/app/parliament/SnapshotExplorer.tsx
  src/app/parliament/components/filters/ActiveFiltersSummary.tsx
  src/app/parliament/components/filters/AgeRangeFilter.tsx
  src/app/parliament/components/filters/GenderFilterList.tsx
  src/app/parliament/components/filters/PartyFilterList.tsx
  src/app/parliament/components/filters/index.ts
  src/app/parliament/components/hemicycle/index.ts
  src/app/parliament/context/filtersContext.tsx
  src/app/parliament/d3.ts
  src/app/parliament/data/sparql.ts
Due: lint, format, type-check

docs(todo): record component barrels + filters context relocation and next refactor tracks
  TODO.md
Due: format

docs(todo): add Commander.js CLI consolidation track
  TODO.md
Due: format

docs(README): improve formatting and readability of project description
  README.md
Due: format

docs(todo): refresh lint baseline snapshot and session outcome
  TODO.md
Due: format

docs(contributing): add interface-for-params rule for functions with >2 args
  CONTRIBUTING.md
Due: format

feat(lint): enforce options object via max-params=2 and add usage example
  .eslintrc.json
  CONTRIBUTING.md
  eslint-plugin-civitas.js
Due: lint, format

docs(todo): record parameter options object enforcement and new track L
  TODO.md
Due: format

chore(markdownlint): add config with extended line length (200)
  .markdownlint.jsonc
  TODO.md
  lefthook.yml
  package.json
Due: format

docs: normalize ordered list numbering for party meta steps
  .markdownlint.jsonc
  .prettierrc.json
  .vscode/settings.json
  README.md
  next.config.mjs
  src/app/globals.css
  src/app/parliament/PartyLegend.tsx
Due: lint, format, type-check

chore(build): add build:static script and static export warning
  next.config.mjs
  package.json
Due: format

ci: add GitHub Actions workflow for lint, type-check, SSR & static builds
  .github/workflows/ci.yml
Due: none

refactor(parliament): adopt options object for buildSeatAria and update TODO with deployment track
  TODO.md
  src/app/parliament/components/hemicycle/Seat.tsx
  src/app/parliament/components/hemicycle/seatAria.ts
Due: lint, format, type-check

docs: add fenced code languages for markdownlint compliance
  README.md
  docs/architecture.md
  docs/deployment.md
  docs/development.md
  docs/exporting.md
  docs/filters-and-interaction.md
  docs/official-timeline.md
  docs/parliament-snapshots.md
  docs/party-metadata.md
  docs/roadmap.md
Due: format

refactor(parliament): introduce options objects for exportSvg/exportPng and ignore server.log
  .gitignore
  src/app/parliament/exportUtils.ts
  src/app/parliament/hooks/useHemicycleExport.ts
Due: lint, format, type-check

refactor(parliament): wrap geometry helpers (findA/getScore/populateRings) in options objects
  src/app/parliament/d3.ts
  src/app/parliament/hooks/useHemicycleLayout.ts
Due: lint, format, type-check

docs(plan): extend TODO with tooling and lockfile integrity tracks
  TODO.md
Due: format

chore(tooling): add lockfile lint and package.json sort plugin
  .github/workflows/ci.yml
  docs/development.md
  lefthook.yml
  package.json
Due: format

chore(tooling): install lockfile-lint & prettier package.json plugin
  package-lock.json
Due: format

chore(tooling): refine lockfile-lint host policy to registry only
  docs/development.md
  lefthook.yml
  package.json
Due: format

chore(tooling): enforce blocking lockfile integrity check pre-commit
  docs/development.md
  lefthook.yml
Due: format

test(parliament): stabilize snapshot load with polling + e2e scaffolding
  .gitignore
  package.json
  playwright.config.ts
  src/app/page.tsx
  src/app/parliament/SnapshotExplorer.tsx
  src/app/parliament/components/hemicycle/HemicycleView.tsx
  tests/e2e/parliament.spec.ts
Due: lint, format, type-check

test(e2e): add homepage + cat specs and lockfile sync
  package-lock.json
  tests/e2e/cat.spec.ts
  tests/e2e/homepage.spec.ts
Due: lint, format, type-check

test(parliament): strengthen legend and meta assertions
  tests/e2e/parliament.spec.ts
Due: lint, format, type-check

test(e2e): add Playwright CI job with prod server run
  .github/workflows/ci.yml
Due: none

docs(todo): record e2e infra, tests, and follow-up tasks
  TODO.md
Due: format
